
@{
    ViewData["Title"] = "Home Page";
    var result = ViewData["ListVehiculosEnable"] as IList<Vehiculo>;
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esto son los vehiculos que tenemos disponibles.</p>
</div>
<br />

<form asp-action="Index" method="get" class="container flex-row">
    <div class="form-actions no-color">
        <p>
            Buscar el vehiculo por nombre: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" /> |
            <a asp-action="Index">Volver  a la lista</a>
        </p>
    </div>
</form>

<br />

<div class="container-fluid">
    @foreach (var car in result)
    {
        <div class="row align-items-start">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/carro-foto.jpg" class="card-img-top" alt="@car.Description" />
                    <div class="card-body">
                        <h5 class="card-title">@car.Marca.Description - @car.Modelo.Description </h5>
                        <p class="card-text">@car.Description</p>
                        <a asp-controller="Vehiculoes" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">Mas Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (result.Count == 0)
    {
        <div class="text-center">
            <h1 class="display-4">El dato que esta buscando no existe....</h1>
            <p>Intento de nuevo.</p>
        </div>
    }

</div>
