@model PaginatedList<SistemaDeRentCar.Models.RentaDevolucion>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Renta o devolucion</h1>
    <p>Esto son las Renta o devolucion que estan registrado.</p>
</div>
<br />
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="index">Volver a la lista</a>
        </p>
    </div>
</form>

<div class="row">
    <div class="col-md-4">
<form asp-action="Print" method="get">
    <div class="form-actions no-color">
             <div class="form-group">
                    <label for="fechaRenta">Birthday (date and time):</label>
                    <input type="datetime-local" id="birthdaytime" class="form-control" name="fechaRenta">
                 <label class="control-label">Tipo de vehiculo</label>
                  <select name="tipoVehiculo" class="form-control" asp-items="ViewBag.IdTipoVehiculo"></select>
            </div>
        <br />
        <div class="form-group">
                    <input type="submit" value="Reporte" class="btn btn-primary" />
        </div>
    </div>
</form>
</div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Vehiculo
            </th>
            <th>
                Empleado
            </th>
            <th>
                FechaRenta
            </th>
            <th>
                FechaDevolucion
            </th>
            <th>
                MontoDia
            </th>
            <th>
                CantidadDia
            </th>
            <th>
                Comentario
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehiculo.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                                 <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>